@font-face {
    font-family: "Comfortaa";
    src: url("fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}


html, body{
    font-size: 100%;
    font-family: "Comfortaa";
    background: url("images/Parties.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    line-height: 1.5em;
    margin: 0%;
    padding: 0%;
    color: #fff;
    justify-content: space-evenly;
    background-repeat: no-repeat;
}

#contenuto {
    background: transparent;
    color: inherit;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
}

/*      HEADER      */


.language-selector {
    position: absolute;
    top: 10px;
    right: 10px;
    padding-left: 0;
    margin-bottom: 20px;
}

#language {
    color: #fff;
    background-color: transparent;
    border-radius: 1em;
    padding: 8px;
    font-size: 14px;
}



.hollow-text {
    padding-top: 2em;
    font-size: 60px;
    font-weight: bold;
    -webkit-text-stroke: 3px fuchsia;
    text-shadow: 2px 2px 4px #FFF;
    color: transparent;
}

header h1{  
    font-size: 10em;
    margin-top: 0;
    line-height: 1.5em;
    background-image: url('images/title.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px;
}



header h2{
    font-size: 1.8em;
    margin-top: 2em;
    padding: 0.5em;
    text-align: center;
    font-variant: small-caps;
}


/*      MAIN        */

.container{
  width: 90%;
  max-width: 600px;
  min-height: auto;
  height: 1000px;
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  background: transparent;
  color: inherit;
  border-radius: 20px;
}

#message{
  font-size: 1em;
  font-weight: 900;
  font-variant: small-caps;
  display: block;
  padding-bottom: 5%;
}

#info{
    padding-top: 15%;
}

main a{
    color: greenyellow;
}


/*      FOOTER      */

footer{
    text-align: center;
    font-size: 0.8em;
    border: 2px solid #000;
    padding: 0.5em;
}

footer:p{
    font-style: italic;
    display: inline;
}


/*
    for mobile phone display
*/

@media (max-width: 600px) {
    header h1 {
        font-size: 3em;
    }
    header h2 {
        font-size: 1.2em;
    }
    .hollow-text {
        font-size: 40px;
        -webkit-text-stroke: 2px fuchsia;
    }
    #message {
        padding-bottom: 2%;
    }

    #info {
        padding-top: 5%;
    }
}
